{{#if isSecondary}}
  {{!-- secondary navigation --}}
  {{#foreach navigation}}
    {{#match url "https://formacaots.com.br/?utm_source=blog&utm_medium=link_top&utm_campaign=fixed_link"}}
      <a onclick="sendSellEvent('link_click', 'Footer {{label}}')" class="{{link_class for=(url) class=(concat " nav-" slug)}}"
         href="{{url absolute=" true"}}" aria-label="{{label}}">{{label}}</a>
      {{else}}
      <a onclick="sendClickEvent('link_click', 'Footer {{label}}')" class="{{link_class for=(url) class=(concat " nav-" slug)}}"
         href="{{url absolute=" true"}}" aria-label="{{label}}">{{label}}</a>
    {{/match}}
  {{/foreach}}
{{else}}
  {{!-- primary navigation --}}
  <ul class="nav" role="menu">
    {{#foreach navigation}}
      {{#match url "https://formacaots.com.br/?utm_source=blog&utm_medium=link_top&utm_campaign=fixed_link"}}
        <li onclick="sendSellEvent('link_click', 'Header {{label}}')" class="{{link_class for=(url) class=(concat " nav-" slug)}}" role="menuitem"><a
              href="{{url absolute=" true"}}" aria-label="{{label}}">{{label}}</a></li>
        {{else}}
          <li onclick="sendClickEvent('link_click', 'Header {{label}}')" class="{{link_class for=(url) class=(concat " nav-" slug)}}" role="menuitem">
            <a href="{{url absolute=" true"}}" aria-label="{{label}}">{{label}}</a>
          </li>
      {{/match}}
    {{/foreach}}
  </ul>
{{/if}}
