<nav class="site-nav">
  <div class="site-nav-left">
    <div class="site-nav-left-content">
      {{#if @site.logo}}
        <a class="site-nav-logo" onclick="sendClickEvent('link_click', 'Header Logo')" href="{{@site.url}}"><img src="{{@site.logo}}"
               alt="{{@site.title}}" /></a>
      {{else}}
        <a class="site-nav-logo" onclick="sendClickEvent('link_click', 'Header Logo')" href="{{@site.url}}">{{@site.title}}</a>
      {{/if}}
      <div class="site-nav-content">
        {{#if @site.navigation}}
          {{navigation}}
        {{/if}}
        {{#is "post"}}
          <span class="nav-post-title {{#unless @site.logo}}dash{{/unless}}">{{post.title}}</span>
        {{/is}}
      </div>
    </div>
  </div>
  <div class="site-nav-right">
    {{> "social-icons"}}
    {{#if @member}}
      <div class="account-menu">
        <a href="javascript:" class="account-menu-avatar" id="account-menu" type="checkbox" name="menu">
          {{> "icons/avatar"}}
          {{#if @member.avatar_image}}
            <img src="{{@member.avatar_image}}" />
          {{/if}}
        </a>
        <ul class="account-menu-dropdown">
          <li class="account-info">
            <small>Logado como</small>
            <span class="account-email" title="{{@member.email}}">{{@member.email}}</span>
          </li>
          {{!-- <li><a href="{{@site.url}}/account/">Conta</a></li> --}} {{!-- Removed account in button --}}
          <li><a href="#signout" data-members-signout>Log out</a></li>
        </ul>
      </div>
    {{else}}
      {{!-- <a class="signin-link" href="{{@site.url}}/signin/">Log in</a> --}} {{!-- Removed Sign in button --}}
      {{!-- <a class="button secondary small header-cta" onclick="sendLeadEvent('Header Donation')" href="{{@site.url}}/doacoes?utm_source=blog&utm_medium=link_footer&utm_campaign=fixed_link">Apoie meu trabalho!</a> --}}
      <button class="gh-search" data-ghost-search>{{> "icons/search"}}</button>
      <a onclick="sendLeadEvent('Header Signup')" class="button primary small header-cta"
         href="https://news.lsantos.dev?utm_source=blog&utm_medium=top-button">Inscreva-se!</a>
    {{/if}}
  </div>
</nav>
